<main class="app">
  <nav>
      <div class="navbar">
          <a routerLink="/me">Me</a>
          <div class="dropdown">
            <button class="dropbtn">Rapporter 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/reports/week/1">Kmom01</a>
              <a routerLink="/reports/week/2">Kmom02</a>
            </div>
          </div>
          <a routerLink="/register">Registrera</a>
        </div>
  </nav>
  <router-outlet></router-outlet>
</main>
