<div class="content">
    <img src="../../assets/img/me.png" id="me">
    <p>Mitt namn är Frida Lindgren, jag är en 28 årig hundnörd som bor i Gävle tillsammans med min sambo Daniel och våra två hundar Lego och Pussel.</p>
    <p>Jag är uppvuxen i Hudiksvall och har alltid varit djurintresserad. Jag har mest haft hästar och hundar men just nu är det bara hundar som gäller. 
    Jag skulle från början bli veterinär eller etolog, men nu sitter jag här ändå och har börjat andra året på programmet webbprogrammering. 
    Vem kunde tro det. Jag gillar programmering, det passar mig väldigt bra på många olika sätt. Även fast jag ibland tycker det är så fruktansvärt 
    svårt så tror jag att jag har hittat rätt. Jag längtar tills jag kan mer, så jag ser fram emot detta året på programmet!</p>
    <p>På fritiden ägnar jag min tid åt mina hundar, vi tränar och tävlar tillsammans i lydnad. Vi tycker även om att vara ute i naturen, 
    speciellt i svampskogen på sensommaren och hösten. Jag tycker även om löpning så det ägnar vi en del tid åt också.</p>
</div>
